---
layout: default
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 3
  sort_field: date
  sort_reverse: true
  trail:
    before: 1 # The number of links before the current page
    after: 3  # The number of links after the current page
---

<div class="post">

  <div class="header-bar">
    <h3>{{ site.blog_name }}</h3>
    <h6>{{ site.blog_description }}</h6>
  </div>


  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <div class="row">
          
          <div class="col-8">
            <p class="post-badge">{{ post.date | date: '%B %-d, %Y' }}</p>

            <h3><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            <span>{{ post.description }}</span>
          </div>
          <div class="col-4">
            <img src="{{ post.jumbotron }}" alt="{{ post.jumbotron_alt }}" width="100%" height="100%">
          </div>
        <div>
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

</div>
