---
layout: default
---

<div class="post">

  <h4 class="post-header">
    <strong> All the below the presentations are based on research papers in the literature.
  </h4>
  <br>

  <article>
    <ul class="">
      <li>
        IRVL | Reading Group
        <ul>
          <li class=""> <a href="{{ site.baseurl }}/assets/pdf/presentations/utd/irvl/reading_group/ReadingGroup-F24-LAPA.pdf" target="_blank" rel="noopener noreferrer">LAPA: Latent Action Pretraining
            from Videos</a> | Fall 2024</li>
          <li class=""> <a href="{{ site.baseurl }}/assets/pdf/presentations/utd/irvl/reading_group/ReadingGroup-S24-F3RM.pdf" target="_blank" rel="noopener noreferrer">Distilled Feature Fields Enable Few-Shot
            Language-Guided Manipulation</a> | Spring 2024</li>
          <li class=""> <a href="{{ site.baseurl }}/assets/pdf/presentations/utd/irvl/reading_group/ReadingGroup-F23-MimicPlay.pdf" target="_blank" rel="noopener noreferrer">MimicPlay: Long-Horizon Imitation Learning by
            Watching Human Play</a> | Fall 2023</li>
            <li class=""> <a href="{{ site.baseurl }}/assets/pdf/presentations/utd/irvl/reading_group/IRVL_Spring22_ReadingGroup_MAML.pdf" target="_blank" rel="noopener noreferrer">Model-Agnostic Meta-Learning (MAML) for Fast
              Adaptation of Deep Networks</a> | Spring 2022</li>
        </ul>
      </li>
      <li>
        Course Presentations
        <ul>
          <li class=""> <a href="{{ site.baseurl }}/assets/pdf/presentations/utd/courses/GPT-1.pdf" target="_blank" rel="noopener noreferrer">GPT: Improving Language Understanding by
            Generative Pre-Training</a> in DL for NLP class.</li>
          <li class=""> <a href="{{ site.baseurl }}/assets/pdf/presentations/utd/courses/CS6319-Superpixels.pdf" target="_blank" rel="noopener noreferrer">[Re:] Image partitioning into convex
            polygons</a> in Computational Geometry class.</li>
        </ul>
      </li>
    </ul>
  </article>

</div>
