---
layout: default
---

<div class="post">

  <header class="post-header">
    <strong> Teaching Assistant</strong>&nbsp;<i>(Note: Courses with codes >= 6000 are graduate level)</i>
  </header>

  <article>
    <ul class="">
      <li>
        Spring 2024
        <ul>
          <li class=""> <a href="https://labs.utdallas.edu/irvl/courses/cs4391_spring24/" target="_blank" rel="noopener noreferrer">CS4391.001 - Introduction to Computer Vision</a> | Prof. <a href="https://yuxng.github.io" target="_blank" rel="noopener noreferrer">Yu Xiang</a></li>
        </ul>
      </li>
      <li>
        Fall 2023
        <ul>
          <li class=""> <a href="https://labs.utdallas.edu/irvl/courses/fall-2023-cs-6301" target="_blank" rel="noopener noreferrer">CS6301.002 - Special Topics in Computer Science: Introduction to Robot Manipulation and Navigation</a> | Prof. <a href="https://yuxng.github.io" target="_blank" rel="noopener noreferrer">Yu Xiang</a></li>
          <li class=""> <a href="https://personal.utdallas.edu/~bar150630/courses/cs6363fa23.html" target="_blank" rel="noopener noreferrer">CS6363.{004, 005} - Design and Analysis of Computer Algorithms</a> | Prof. <a href="https://personal.utdallas.edu/~bar150630/" target="_blank" rel="noopener noreferrer">Benjamin Raichel</a></li>
        </ul>
      </li>
      <li>
        Summer 2023
        <ul>
          <li class=""> CS3377.0U1: Systems Programming in UNIX and Other Environments</li>
        </ul>
      </li>

      <li>
        Spring 2023
        <ul>
          <li class=""> <a href="https://labs.utdallas.edu/irvl/courses/cs6384_spring23/" target="_blank" rel="noopener noreferrer">CS6384.002:	Computer Vision</a> | Prof. <a href="https://yuxng.github.io" target="_blank" rel="noopener noreferrer">Yu Xiang</a> </li>
          <!--li class="">CS4391.001: Introduction to Computer Vision | Prof. <a href="https://cs.utdallas.edu/people/faculty/feng-ranran" target="_blank" rel="noopener noreferrer">Ranran Feng</a> </li-->
          <li class="">CS4391.001: Introduction to Computer Vision </li>
        </ul>
      </li>

      <li>
        Fall 2022
        <ul>
          <!--li class="">CS6360.003: Database Design | Prof. <a href="https://cs.utdallas.edu/people/faculty/omer-jalal/" target="_blank">  Jalal Omer </a></li-->
          <li class="">CS6360.003: Database Design</li>
          <!--li class="">CE4348.501: Operating Systems Concepts | Prof. Jogen Pathak </li-->
          <li class="">CE4348.501: Operating Systems Concepts</li>
        </ul>
      </li>
    </ul>
  </article>

</div>
